.footer {
  background-color: rgba(76, 255, 76, 0.6);
  border: solid black 1px;

  height: 80px;

  margin-top: 10px;
  padding: 10px;

  border-top: none;

  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.footer__text {
  align-self: center;
}
