.imagebox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
  background-color: rgb(76, 255, 76);
  border: solid black 1px;
  /* height: auto;
  width: 50%; */
  max-height: 400px;
  width: auto;
  /* max-width: 80%; */

  margin: 5px;
  padding: 5px;
  box-sizing: content-box;

  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.imagebox__reupload {
  color: red;
  background-color: white;
  padding: 0 5px;
}

.imagebox__link {
  text-decoration: none;
}
