.motion__wrapper {
  width: 100%;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
  background-color: rgb(76, 255, 76);
  border: solid black 1px;
  height: 150px;
  width: 50%;

  margin: 5px;
  /* padding: 10px; */

  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
